<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] MiniETrade </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MiniETrade.UI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MiniETrade</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" id="item-list">

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
<script>
        const url = "https://localhost:7150/";
        $(document).ready(function () {
            $.ajax({
                url: url + "Category/Get",
                dataType: 'json',
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (categories) {
                    var itemList = document.getElementById("item-list");

                    for (var i = 0; i < categories.length; i++) {
                        var li = document.createElement("li");
                        li.className = "nav-item";
                        
                        var link = document.createElement("a");
                        link.className = "nav-link text-dark";
                        link.href = "/Product?categoryId=" + categories[i].id;
                        link.innerText = categories[i].name;

                        li.appendChild(link);

                        itemList.appendChild(li);
                    }
                }
            });
        });
    </script>
</body>
</html>
